{:paths ["src" "test" "examples"]
 :deps  {org.clojure/clojure       {:mvn/version "1.9.0"}
         org.clojure/core.async    {:mvn/version "0.4.474"}
         org.clojure/clojurescript {:mvn/version "1.10.339"}
         aleph                     {:mvn/version "0.4.6"}
         cheshire                  {:mvn/version "5.8.0"}}

 :aliases
 {:test
  {:extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  }}
